# SERVER
export SERVER_IP=
export DOMAIN=
export TZ=Europe/Oslo
# TLS
export LETSENCRYPT_EMAIL=
# Acme/Namecheap
export NAMECHEAP_USER=
export NAMECHEAP_KEY=
# Acme/Duckdns
export DUCKDNS_TOKEN=
export DUCKDNS_SUBDOMAINS=
# SERVICES
export PLEX_CLAIM=
export TRANSMISSION_USER=
export TRANSMISSION_PASS=
export PIHOLE_PASS=
