# SERVER
export SERVER_IP=
export DOMAIN=
export TZ=Europe/Oslo

# TLS
export LETSENCRYPT_EMAIL=

# ACME/Namecheap
export NAMECHEAP_USER=
export NAMECHEAP_KEY=

# ACME/Duckdns
export DUCKDNS_TOKEN=
export DUCKDNS_SUBDOMAINS=
# DEVOPS
export PIHOLE_PASS=

# MEDIA
export PLEX_CLAIM=
export TRANSMISSION_USER=
export TRANSMISSION_PASS=

# DEV
export CODE_SUDO_PW=

# DOCKER-COMPOSE
export COMPOSE_HTTP_TIMEOUT=500
